.about-page {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0) 80%), url('../img/art/Screenshot+2022-02-23+at+14.11.58.png');
    background-position: top;
    width: 100%;

    padding-top: 15%;
}

.about-container {
    background-color: #f1ebdb;
    padding: 3%;

    margin-left: auto;
    margin-right: auto;

    width: 80%;

    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.about-container > * {
    margin-bottom: 40px;
}

#about-title {
    overflow: hidden;
    white-space: nowrap;
    
    
    width: fit-content;
    padding-right: 5px;
    border-right: 5px solid pink;
    
    animation: 
        typing 3s steps(13, start) forwards,
        blink 1s step-end infinite;
}

#about-image {
    color: white
}

/* Responsive */

@media only screen and (min-width: 800px) {
    .about-container {
        text-align: justify;
        width: 60%;
    }

    .about-page {
        background-size: 110%;
    }
}

@media only screen and (min-width: 1200px) {
    .about-container {
        width: 500px;
        margin-top: 10%;
    }
}

/* Animation keyframes */

@keyframes blink {
    from, to {
        border-color: transparent;
    } 50% {
        border-color: rgb(179, 135, 142)
    }
}

@keyframes typing { 
    0% { width: 0 }
    100% { width: 7em }
}