.home-page {

}

#home-slideshow {
    width: 100%;
    background-color: black;
    z-index: 10;
}

#home-services {
    width:60vw;
    margin: auto;
}

#home-services > div {
    margin-bottom: 15px;
}

#home-testimonials {
    color: white;
    margin:auto;
    margin-bottom: 100px;

    width: 80vw;
}

.testimonial-block {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.testimonial-block-r {
    text-align: right;
}

.testimonial-source {
    font-style: italic;
}

.home-subtitle {
    margin: auto;
    
    padding: 15px;
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    #home-page {
        background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0) 40%), url('../img/art/Screenshot+2022-02-23+at+14.11.21.png');
        background-position: top;
        background-size: contain;
    }
    
    #home-services {
        width: 40vw;
    }

    #home-testimonials {
        width: 40vw;
    }

    #home-slideshow {
        height: 40vh;
        width: 60vw;
        margin: auto;

        box-shadow: 0px 5px 15px black;
    }
}

