#page-header {
    display: flex;
    position: sticky;
    background-color: rgba(128, 128, 128, 0.475);
    width: 100%;

    z-index: 1000;
}

#page-title {
    margin: 32px;
    font-size: 24px;
    font-weight: bolder;
    display: inline;
    color: white;
}

#burger-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    color: white;
}

#burger-icon {
    padding: 10px;
    font-size: 32px;
}

#burger-icon:hover {
    background-color: grey;
    border-radius: 5px;
}

#nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

    font-size: 24px;

    animation: scaleDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

#nav-options {
    width: 200px;

    border-radius: 5px;
    border-top-right-radius: 0px;

    background-color: grey;

    overflow: hidden;
}

.nav-option {
    height: 32px;

    padding: 10px;
    border-bottom:1px solid black;
    background-clip: padding-box;

    text-decoration: none;
    color: white;

    transition: all 0.2s ease;
}

.nav-option:hover {
    background: rgb(165, 165, 165);
    padding: 15px;
    cursor: pointer;
}

#nav-top {
    display: flex;
    justify-content: flex-end;
}

#nav-close {
    padding: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    background-color: grey;
    
    font-size: 32px;
}

#nav-close:hover {
    background: rgb(165, 165, 165);
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    #page-title {
        font-size: 32px;
    }
}

@keyframes scaleDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
    }
}